{{#> layouts/base title="About Us"}}
    {{#*inline "head-block"}}
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    {{/inline}}

    {{#*inline "body-block"}}

    <div class="body-container">
        <header>
            {{#> includes/navbar}}
            {{/includes/navbar}}
        </header>

        <main>
            <section class="intro">
                <h1>
                    Pass the aux<span class="accent">.</span>
                </h1>
                <h2>
                    We know just the right track.
                </h2>
            </section>
            <ul class="content">
                <li class="card">
                    <h3>Feature Name</h3>
                    This is some description of the feature.
                </li>
                <li class="card">
                    <h3>Feature Name</h3>
                    This is some description of the feature.
                </li>
                <li class="card">
                    <h3>Feature Name</h3>
                    This is some description of the feature.
                </li>
                <li class="card">
                    <h3>Feature Name</h3>
                    This is some description of the feature.
                </li>
            </ul>
        </main>

        <footer>
        </footer>
    </div>

    <script src="scripts/about.js" type="module"></script>

    {{/inline}}
{{/layouts/base}}
