{{#> layouts/base title="About Us"}}
    {{#*inline "head-block"}}
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    {{/inline}}

    {{#*inline "body-block"}}

    <div class="body-container">
        <header>
            {{#> includes/navbar}}
            {{/includes/navbar}}
        </header>

        {{!-- <aside> --}}
        {{!-- </aside> --}}

        <main>
            <section class="intro">
                <h1>
                    Pass us the aux<span class="accent">.</span>
                </h1>
                <h2>
                    We know just the right track.
                </h2>
            </section>
            <section class="content">
                <article>
                    sup
                </article>
            </section>
        </main>
    </div>

    <script src="scripts/about.js" type="module"></script>

    {{/inline}}
{{/layouts/base}}
