{{#> layouts/base title="Home Page"}}
    {{#*inline "head-block"}}
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/slider.css"/>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    {{/inline}}

    {{#*inline "body-block"}}

    <div class="body-container">
        <header>
            {{#> includes/navbar}}
            {{/includes/navbar}}
        </header>

        <main>
            <section class="content">
                <h1>Groove<span class="accent">.<span></h1>
                <div class="slider-container">
                    <div class="slider">
                        <img class="image" src="images/album-covers/radiohead-in-rainbows-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/boards-of-canada-campfire-headphase-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/massive-attack-mezzanine-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/nicolas-jaar-space-is-only-noise-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/plaid-scintilli-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/sufjan-stevens-age-of-adz-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/radiohead-in-rainbows-1280x1280.jpg"/>
                        <img class="image" src="images/album-covers/boards-of-canada-campfire-headphase-1280x1280.jpg"/>
                    </div>
                    <button class="prev-btn">
                        <img src="images/svgs/arrow-left.svg">
                    </button>
                    <button class="next-btn">
                        <img src="images/svgs/arrow-right.svg">
                    </button>
                </div>
            </section>

            <div class="caption">album art taken from <a href="https://tidal.com"><span class="link-text">Tidal</span></a></div>
        </main>
    </div>

    <script src="scripts/home.js" type="module"></script>

    {{/inline}}
{{/layouts/base}}
