{{#> layouts/base title="Home Page"}}
    {{#*inline "head-block"}}
        <link rel="stylesheet" type="text/css" href="css/hero.css"/>
        <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
        <link rel="stylesheet" type="text/css" href="css/preload.css"/>
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> includes/navbar}}
        {{/includes/navbar}}

        {{#> includes/hero}}
        {{/includes/hero}}

        <div class="preloader"></div>

    {{/inline}}

    {{#*inline "scripts-block"}}
        <script src="scripts/home.js"></script>
    {{/inline}}
{{/layouts/base}}
