{{#> layouts/base title="Work Page"}}
    {{#*inline "head-block"}}
        <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> includes/navbar}}
        {{/includes/navbar}}

        <div class="content-container">
            {{!-- make '.entry' a handlebar --}}
            <div class="entry">
                <img src=""></img>
                <div class="text">
                    <h3>
                    </h3>
                    <div class="description">
                    </div>
                </div>
            </div>
        </div>

    {{/inline}}

    {{#*inline "scripts-block"}}
        <script src="scripts/work.js"></script>
    {{/inline}}
{{/layouts/base}}
