<nav class="navbar">
    <div class="nav-title">Groove<span class="accent">.</span></div>
    <div class="nav-links">
        <ul>
            <li><a class="home-link" href="/"><span class="link-text">home</span></a></li>
            <li><a class="about-link" href="/about"><span class="link-text">about</span></a></li>
            <li><a class="download-link" href="/download"><span class="link-text">download</span></a></li>
            <li><a class="recommend-link" href="/recommend"><span class="link-text">recommend</span></a></li>
        </ul>
    </div>
</nav>
