<div class="navbar">
    <div class="navbar-title">
        <span>Cool Co.</span>
    </div>
    <div class="navbar-links">
        <ul>
            <li><a class="home-link" href="/">home</a></li>
            <li><a class="about-link" href="/about">about</a></li>
            <li><a class="work-link" href="/work">work</a></li>
            <li><a class="contact-link" href="/contact">contact</a></li>
        </ul>
    </div>
</div>
