.body-container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
}

header {
    grid-row: 1;
    width: 100vw;
    padding: 1em 2em;
}

main {
    grid-row: 2;
    width: 100%;
}

.intro {
    text-align: center;
}

.content {
    display: grid;
    width: 70vw;
    margin: 3rem auto 0 auto;
    padding: 0;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 400px);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    color: var(--dark-text-color);
}

.card {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    padding: 1.3em;
    display: grid;
    background: var(--light-text-color);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    -webkit-box-shadow: 8px 12px 70px 9px rgba(0,0,0,0.52); 
    box-shadow: 8px 12px 70px 9px rgba(0,0,0,0.52);
}

.content .card:nth-child(odd) {
    grid-column: 2;
}

.content .card:nth-child(even) {
    grid-column: 1;
}

.content .card:nth-child(1) {
    grid-row: 2;
}
.content .card:nth-child(2) {
    grid-row: 3;
}
.content .card:nth-child(3) {
    grid-row: 4;
}

h1 {
    display: inline-block;
    padding: 0.5em 0 0 0;
    margin: 0;
    font-family: 'Calistoga', serif;
    font-size: 3em;
    font-weight: normal;
}
