.navbar {
    /*position: fixed;*/
}

.hero-container {
    top: 90px;
    margin: auto;
    height: 540px;
    width: 960px;
    position: relative;
    display: flex;
    align-items: center;
    /*overflow-x: hidden;*/
    overflow: hidden;
}

.hero-slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: -1;
    align-items: center;
    will-transition: transform;
}

.hero-slider img {
    min-width: 100%;
    object-fit: cover;
}

.hero-animate {
    transition: transform 1100ms cubic-bezier(.49,.12,.26,.96);
}

.no-animate {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.hero-container .caption {
    color: white;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.hero-container .prev-btn {
    position: absolute;
    left: 1em;
    /*transform: translateY(-2em);*/
}

.hero-container .next-btn {
    position: absolute;
    right: 1em;
    /*transform: translateY(-2em);*/
}

.hero-container a {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .hero-container {
        height: 270px;
        width: 480px;
    }
}
