:root {
    /*--main-bg-color: #24202e;*/
    --dark-bg-color: linear-gradient(20deg, rgba(36,32,46,1) 0%, rgba(73,50,69,1) 100%); ;
    --light-bg-color: #e8e6e3;
    --light-text-color: #e8e6e3;
    --accent-color: #cc6e00;
    --dark-text-color: #1d1d1f;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--dark-bg-color);
    background-repeat: none;
    font-family: 'Voces', sans-serif;
    color: var(--light-text-color);
    /*scrollbar-color: #1c1e1f #2a2c2e;*/
    /*scrollbar-color: var(--main-bg-color) #2a2c2e;*/
}

.accent {
    color: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--light-text-color);
}

.link-text {
    display: inline;
    border-bottom: 1px dotted var(--accent-color);
    transition: border-bottom 3000ms;
}

a:hover > .link-text,
a:focus > .link-text {
    border-bottom: 1px solid var(--accent-color);
}

