.navbar {
    display: flex;
    font-size: 1rem;
}

.nav-title {
    display: block;
    padding: 0 1em;
    margin-right: auto;
    font-family: 'Calistoga', serif;
    font-size: 1.5em;
    font-weight: regular;
}

.nav-links {
    padding-right: 2rem;
    margin-left: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav a {
    align-items: center;
    text-decoration: none;
    height: 2em;
    padding: 1em;
}
