.navbar {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    position: sticky;
    overflow: auto;
    top: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(100, 100, 100, 0.6);
    backdrop-filter: blur(10px);
}

.navbar-title {
    display: block;
    color: white;
    padding: 0 1em;
}

.navbar-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 2em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 300ms;
}

.navbar-links li :hover,
.navbar-links li :focus {
    background-color: rgba(255, 255, 255, 0.3);
}
