.preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: white;
    opacity: 100;
    transition: opacity 1s ease;
}

.preloader-end {
    opacity: 0;
    pointer-events: none;
}
