.preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--plain-background);
    opacity: 1;
    transition: opacity 1s ease;
}

.preloader-end {
    opacity: 0;
    pointer-events: none;
}

.preloader-text {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
}

.preloader-letter-animate {
    -webkit-animation: 500ms ease 0ms infinite alternate both running blink;
            animation: 500ms ease 0ms infinite alternate both running blink;
}

@-webkit-keyframes blink {
    0% { opacity: 0; }
    10% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 0; }
    10% { opacity: 1; }
    100% { opacity: 0; }
}
